/*=====Reset default styles=====*/

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=====Mobile version=====*/

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
/*-----Header-----*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 2px 1px 0 #2e2f4214;
  margin: 0 auto;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent-header {
  color: #2e2f42;
}
.burger-btn {
  border: none;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.menu,
.contacts {
  display: none;
}
.menu-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-window.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.menu.mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-accent {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.contacts.mobile {
  display: block;
}
.contacts-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}
.contacts-link {
  color: #434455;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link.accent {
  color: #4d5ae5;
}
.contacts-link:hover,
.contacts-link.accent:hover,
.contacts-link:focus,
.contacts-link.accent:focus {
  color: #404bbf;
}
.footer-social-links.mobile {
  display: flex;
  justify-content: space-between;
}
.footer-link.mobile:hover,
.footer-link.mobile:focus {
  background-color: #404bbf;
}

/*-----Section About-----*/

.section {
  padding: 96px 0;
  margin: 0 auto;
}
.about {
  background-color: rgb(46, 47, 66);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/about/people-office-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  max-width: 320px;
}
.about-title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  max-width: 216px;
  margin: 0 auto 72px;
}
.order-btn {
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 #00000026;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/*-----Section Features-----*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.features-cards {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.feature-item {
  flex-basis: calc((100% - 24px) / 2);
}
.feature-item-picture {
  display: none;
}
.feature-item-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.feature-item-dscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----Section Team-----*/

.team {
  background-color: #f4f4fd;
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}
.team-item {
  /* flex-basis: calc((100%-72px / 4)); */
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
}
.team-item-photo {
  object-fit: cover;
  object-position: center;
}
.team-item-about {
  padding: 32px 0px;
}
.team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-item-dscr,
.portfolio-item-dscr {
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item,
.footer-social-item {
  width: 40px;
  height: 40px;
}
.team-link,
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.footer-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

/*-----Section Portfolio-----*/

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-text {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-txt {
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
}
.portfolio-item:hover .portfolio-overlay-txt,
.portfolio-item:focus .portfolio-overlay-txt {
  transform: translatey(0%);
}

/*-----Footer-----*/

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  margin: 0 auto;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 72px;
}
.footer-logo,
.footer-social,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
.footer-social-title,
.footer-subscribe-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer-social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.subscribe-form-input {
  min-width: 288px;
  min-height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 #00000026;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-form-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.icon-send {
  margin-left: 16px;
}

/*-----Backdrop & Modal window-----*/

.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #2e2f4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-window {
  width: 100%;
  max-width: 288px;
  height: auto;
  margin: 0 auto;
  padding: 72px 16px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f,
    0 2px 1px 0 #00000033;
  background: #fcfcfc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input {
  height: 58px;
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input-container {
  position: relative;
}
.modal-form-input {
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.input-comment {
  height: 138px;
  margin-bottom: 16px;
}
.input-checkbox {
  margin-bottom: 24px;
}
.modal-privacy-agree {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-privacy-checkbox:checked + .modal-privacy-agree .modal-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}
.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 #00000026;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=====Tablet version=====*/

@media screen and (min-width: 768px) {
  /*-----Header-----*/
  .container {
    max-width: 768px;
  }
  .header .container {
    padding: 0 16px;
  }
  .nav-bar {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 24px 0;
    margin-right: 76px;
  }
  .menu {
    display: flex;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
  }
  .link-accent::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    content: "";
  }
  .contacts {
    display: flex;
  }
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .burger-btn,
  .menu-window {
    display: none;
  }
  /*-----Section About-----*/
  .about {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/about/people-office.jpg");
    padding: 112px 0;
    max-width: 768px;
  }
  .about-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  /*-----Section Features-----*/
  .features-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .feature-item {
    max-width: 356px;
  }
  /*-----Section Team-----*/
  .team-cards {
    row-gap: 64px;
    column-gap: 24px;
  }
  /*-----Section Portfolio-----*/
  .portfolio-cards {
    row-gap: 72px;
    justify-content: space-between;
  }
  /*-----Footer-----*/
  .footer .container {
    justify-content: flex-start;
    align-items: start;
    padding: 0 108px;
  }
  .footer-logo,
  .footer-social,
  .footer-subscribe {
    align-items: flex-start;
  }
  .footer-logo {
    max-width: 264px;
    margin-right: 24px;
  }
  .f-logo {
    padding: 0;
    margin: 0;
  }
  .footer-subscribe-form {
    gap: 24px;
  }
  .subscribe-form-input {
    min-width: 264px;
  }
  /*-----Backdrop & Modal window-----*/
  .modal-window {
    max-width: 408px;
    padding: 72px 24px 24px;
  }
}

/*=====Desktop version=====*/

@media screen and (min-width: 1158px) {
  /*-----Header-----*/
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header .container {
    padding: 0 15px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*-----Section About-----*/
  .section {
    padding: 120px 0;
  }
  .about {
    padding: 188px 0;
    max-width: 1440px;
  }
  .about-title {
    margin: 0 auto 48px;
  }
  /*-----Section Features-----*/
  .features-cards {
    gap: 24px;
  }
  .feature-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .feature-item-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
  .feature-item-dscr {
    font-weight: 400;
  }
  /*-----Section Portfolio-----*/
  .portfolio-cards {
    row-gap: 48px;
  }
  /*-----Footer-----*/
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    align-items: baseline;
    padding: 0 15px;
  }
  .footer-logo {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 80px;
  }
}

/*=====2x screens, retina=====*/

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/about/people-office@2x.jpg");
  }
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .about {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/about/people-office-mobile@2x.jpg");
  }
}
